body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
    background-color: hsl(0, 0%, 100%);
    width: 20%;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

img{
    width: 100%;
}

h3{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

.attribution{
    position: absolute;
    bottom: 10px;
}

@media screen and (max-width: 375px) {
    .container{
        width: 75%;
    }
}